[Unit]
Description=Poll service
After=network.target

[Service]
User=root
Environment=REDIS_HOST={{ redis_host }}
WorkingDirectory=/opt/poll
ExecStart=/usr/bin/python3 /opt/poll/app.py
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target